<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Welcome!</h2>
        <p>Please enter your details to sign in.</p>
        <form action="/login" method="POST">
            <input name="email" type="email" class="form-control" placeholder="Email" required />
            <input name="password" type="password" class="form-control" placeholder="Password" required />
            <p class="change-pass"><a href="/change-password">Forgot password?</a></p>
            <button type="submit" class="btn">Sign In</button>
        </form>
        <p class="mt-3">Don't have an account? <a href="/register">Sign up.</a></p>
    </div>
</body>
</html>