.content{
    padding: 10px;;
}

/* Admin Table Styling */
.table-admin {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-admin th, .table-admin td {
    padding: 15px;
    border: 1px solid #dee2e6;
    text-align: left;
}

.table-admin th {
    background-color: #6A3B3B;
    color: #ffffff;
    font-weight: bold;
}

.table-admin td {
    background-color: #f8f9fa;
}

.table-admin tr:hover {
    background-color: #f1f1f1;
}
