.modal-body h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-check {
    margin-bottom: 10px; /* Add some spacing between checkboxes */
}

#applyFilter {
    margin-top: 20px; /* Space above the button */
    background-color: #d9534f; /* Change background color */
    border: none; /* Remove default border */
}

#applyFilter:hover {
    background-color: #c93d3d; /* Darker blue on hover */
}

